<div class="content">
    <div class="container">
        <h3 style="margin-top: 45px;" class="col-lg-8 col-md-7">Detail Profile:
            <span data-bind="text: fullName()"></span>
        </h3>
        <div class="row">

            <!-- Profile -->
            <div class="col-lg-8 col-md-7">
                <div class="card">
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>First Name</label>
                                        <span class="field-required" data-bind="tooltip: {title: textFieldRequired, placement: 'top'}">*</span>
                                        <input data-bind="textInput: firstName, valueUpdate: 'afterkeydown'" type="text"
                                            class="form-control border-input">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Last Name</label>
                                        <span class="field-required" data-bind="tooltip: {title: textFieldRequired, placement: 'top'}">*</span>
                                        <input data-bind="textInput: lastName, valueUpdate: 'afterkeydown'" type="text"
                                            class="form-control border-input">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Personnel ID</label>
                                        <span class="field-required" data-bind="tooltip: {title: textFieldRequired, placement: 'top'}">*</span>
                                        <input data-bind="value: personnelID" type="text" class="form-control border-input" disabled>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Organization / Company</label>
                                        <span class="field-required" data-bind="tooltip: {title: textFieldRequired, placement: 'top'}">*</span>
                                        <select data-bind=" options: availableOrganizations,
                                                                optionsText: 'name',
                                                                optionsValue: 'id', 
                                                                value: selectedOrganization"
                                            class="form-control border-input"></select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="icon-container">
                                            <label>Group / Department</label>
                                            <span class="field-required" data-bind="tooltip: {title: textFieldRequired, placement: 'top'}">*</span>
                                            <span data-bind="click: addGroup, visible: (GroupsForMe().length < availableGroupsBelongOrg().length)"
                                                class="ti-plus" style="margin-left: 10px"></span>
                                        </div>
                                        <span class="title-main">main</span>
                                        <div data-bind="foreach: GroupsForMe">
                                            <div class="input-group" style="float: left">
                                                <div class="checked-main">
                                                    <input type="radio" data-bind="checkedValue: $index, checked: $root.mainGroup" />
                                                </div>
                                                <select data-bind=" options: $root.availableGroupsBelongOrg,
                                                                        optionsText: 'name',
                                                                        value: value"
                                                    class="form-control border-input option-field"></select>
                                                <span class="input-group-btn">
                                                    <button data-bind="click: $root.removeGroup, enable: ($root.GroupsForMe().length > 1)"
                                                        class="btn btn-default" type="button">X</button>
                                                </span>
                                            </div>
                                        </div>
                                        <span data-bind="if: groupsIsSame" class="validationMessage">Not the same value</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="icon-container">
                                            <label>Role / Job Title</label>
                                            <span class="field-required" data-bind="tooltip: {title: textFieldRequired, placement: 'top'}">*</span>
                                            <span data-bind="click: addRole, visible: (RolesForMe().length < availableRoles.length)"
                                                class="ti-plus" style="margin-left: 10px"></span>
                                        </div>
                                        <span class="title-main">main</span>
                                        <div data-bind="foreach: RolesForMe">
                                            <div class="input-group" style="float: left">
                                                <div class="checked-main">
                                                    <input type="radio" data-bind="checkedValue: $index, checked: $root.mainRole" />
                                                </div>
                                                <select data-bind=" options: $root.availableRoles,
                                                                        optionsText: 'name', 
                                                                        value: value"
                                                    class="form-control border-input option-field"></select>
                                                <span class="input-group-btn">
                                                    <button data-bind="click: $root.removeRole, enable: ($root.RolesForMe().length > 1) "
                                                        class="btn btn-default" type="button">X</button>
                                                </span>
                                            </div>
                                        </div>
                                        <span data-bind="if: rolesIsSame" class="validationMessage">Not the same value</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="icon-container">
                                            <label>Work phone number</label>
                                            <span class="field-required" data-bind="tooltip: {title: textFieldRequired, placement: 'top'}">*</span>
                                            <span data-bind="click: addWorkPhoneNumber" class="ti-plus" style="margin-left: 10px"></span>
                                        </div>
                                        <span class="title-main">main</span>
                                        <div data-bind="foreach: workPhoneNumbers">
                                            <div class="input-group" style="float: left">
                                                <div class="checked-main">
                                                    <input type="radio" data-bind="checkedValue: $index, checked: $root.mainWorkPhoneNumber" />
                                                </div>
                                                <input data-bind="textInput: value, valueUpdate: 'afterkeydown'" type="text"
                                                    class="form-control border-input option-field">
                                                <span class="input-group-btn">
                                                    <button data-bind="click: $root.removeWorkPhoneNumber, enable: $root.workPhoneNumbers().length > 1"
                                                        class="btn btn-default" type="button">X</button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="icon-container">
                                            <label>Mobile number</label>
                                            <span class="field-required" data-bind="tooltip: {title: textFieldRequired, placement: 'top'}">*</span>
                                            <span data-bind="click: addMobileNumber" class="ti-plus" style="margin-left: 10px"></span>
                                        </div>
                                        <span class="title-main">main</span>
                                        <div data-bind="foreach: mobileNumbers">
                                            <div class="input-group" style="float: left">
                                                <div class="checked-main">
                                                    <input type="radio" data-bind="checkedValue: $index, checked: $root.mainMobileNumber" />
                                                </div>
                                                <input data-bind="textInput: value, valueUpdate: 'afterkeydown'" type="text"
                                                    class="form-control border-input option-field">
                                                <span class="input-group-btn">
                                                    <button data-bind="click: $root.removeMobileNumber, enable: $root.mobileNumbers().length > 1"
                                                        class="btn btn-default" type="button">X</button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="icon-container">
                                            <label>Private phone number</label>
                                            <span data-bind="click: addPrivatePhoneNumber" class="ti-plus" style="margin-left: 10px"></span>
                                        </div>
                                        <span class="title-main">main</span>
                                        <div data-bind="foreach: privatePhoneNumbers">
                                            <div class="input-group" style="float: left">
                                                <div class="checked-main">
                                                    <input type="radio" data-bind="checkedValue: $index, checked: $root.mainPrivatePhoneNumber" />
                                                </div>
                                                <input data-bind="textInput: value, valueUpdate: 'afterkeydown'" type="text"
                                                    class="form-control border-input option-field">
                                                <span class="input-group-btn">
                                                    <button data-bind="click: $root.removePrivatePhoneNumber, enable: $root.privatePhoneNumbers().length > 1"
                                                        class="btn btn-default" type="button">X</button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="icon-container">
                                            <label>Work E-Mail</label>
                                            <span class="field-required" data-bind="tooltip: {title: textFieldRequired, placement: 'top'}">*</span>
                                            <span data-bind="click: addWorkEmail" class="ti-plus" style="margin-left: 10px"></span>
                                        </div>
                                        <span class="title-main">main</span>
                                        <div data-bind="foreach: workEmails">
                                            <div class="input-group" style="float: left">
                                                <div class="checked-main">
                                                    <input type="radio" data-bind="checkedValue: $index, checked: $root.mainWorkEmail" />
                                                </div>
                                                <input data-bind="textInput: value, valueUpdate: 'afterkeydown'" type="text"
                                                    class="form-control border-input option-field">
                                                <span class="input-group-btn">
                                                    <button data-bind="click: $root.removeWorkEmail, enable: $root.workEmails().length > 1"
                                                        class="btn btn-default" type="button">X</button>
                                                </span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row text-center" style="padding: 20px 0">
                                <button data-bind="click: save" type="submit" class="btn btn-success btn-fill btn-wd">Save</button>
                                <button data-bind="click: deleteProfile" class="btn btn-danger btn-fill btn-wd">Delete</button>
                                <button data-bind="click: cancle" class="btn btn-warning btn-fill btn-wd">Cancel</button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Avatar -->
            <div class="col-lg-4 col-md-5">
                <br>
                <div class="card card-user">
                    <div class="image">
                        <img src="assets/img/background.jpg" alt="..." />
                    </div>
                    <div class="content">
                        <div class="author">
                            <img class="avatar border-white" data-bind="attr: {src:photoUrl() || 'assets/img/faces/face-2.jpg'}" />
                            <input type="file" accept="image/*" style="margin: 0 auto; padding-bottom: 20px; color:transparent; width:70px;"
                                data-bind="event:{change: imageUpload}">
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>