<section>
  <br/><br/>

  <!--Button which to add user-->
  <!--Click here to transfer to Create-->
  <div>
    <!-- <a class="btn btn-info btn-lg pull-right" id="btnAdd" data-bind="click: gotoCreate"> -->
    <a class="btn btn-info btn-lg" id="btnAdd">
      <span class="glyphicon glyphicon-plus-sign"></span> Add
    </a>

    <form class="navbar-form navbar-right" role="search" id="frSearch">
      <div class="form-group">
          <input style="color:black;" type="text" class="form-control" placeholder="Search" title="Search User" data-bind="event: { keyup: search }">
      </div>
  </form>
  </div>
  <!-- end button -->

   <br/><br/><br/>

  <!--User Info-->
  <table>
    <tbody class="row user-row" data-bind="foreach: lUsers, visible: lUsers().length > 0">
      <tr>
        <!--User's Image-->
        <td id="col1">
          <img class="img-circle"
            data-bind="attr:{src: image}"
            alt="User Pic"/>
        </td>
        <!-- End image -->

        <!--Info-->
        <td id="col2">
          <strong data-bind="text: firstName + ' ' + lastName"></strong><br/>
          <span data-bind="text: role"></span><br/>
          <span class="text-muted" data-bind="text: group"></span><br/>
          <span class="text-muted" data-bind="text: organization"></span>
        </td>
        <!-- End Info -->

        <!--Click here to transfer to detail Info-->
        <td id="col3">
          <a href="#">
            <span class="glyphicon glyphicon-chevron-right" id="btnMore"></span>
          </a>
        </td>
        <!-- End More Info -->
        
      </tr>
    </tbody>
  </table>
  <!-- End -->
</section>