<section>
  <br/><br/>

  <!--Button which to add user-->
  <!--Click here to transfer to Create-->
  <div>
    <!-- <a class="btn btn-info btn-lg pull-right" id="btnAdd" data-bind="click: gotoCreate"> -->
    <a data-bind="click: addUser"  class="btn btn-info btn-lg pull-right" id="btnAdd">
      <span class="glyphicon glyphicon-plus-sign"></span> Add
    </a>
  </div>
  <!-- end button -->

   <br/><br/><br/>

  <!--User Info-->
  <table>
    <tbody class="row user-row" data-bind="foreach: lUsers, visible: lUsers().length > 0">
      <tr data-bind="click: $root.viewProfile">
        <!--User's Image-->
        <td id="col1">
          <img class="image-profile"
            data-bind="attr:{src: profileImage}"
            alt="User Pic"/>
        </td>
        <!-- End image -->

        <!--Info-->
        <td id="col2">
          <strong data-bind="text: firstName + ' ' + lastName"></strong><br/>
          <span data-bind="text: roles[0].name"></span><br/>
          <span class="text-muted" data-bind="text: mainGroup.name"></span><br/>
          <span class="text-muted" data-bind="text: organization.name"></span>
        </td>
        <!-- End Info -->

        <!--Click here to transfer to detail Info-->
        <td id="col3">
          <a href="#">
            <span class="glyphicon glyphicon-chevron-right" id="btnMore"></span>
          </a>
        </td>
        <!-- End More Info -->
        
      </tr>
    </tbody>
  </table>
  <!-- End -->
</section>